<h1> QUESTIONS MENU </h1>
<br><br>
<br>

<h2>Music while you search?</h2>
<br><br>

<p> Slow to Crisendo! </p>
<audio src="https://vgmdownloads.com/soundtracks/lord-of-the-rings-the-fellowship-of-the-ring-howard-shore/ihkpkoki/05%20The%20Black"controls></audio>
<br><br>

<p>Easy Breezy Beautiful Cover Girl</p>
<audio src="https://vgmdownloads.com/soundtracks/minecraft/naxwyevx/Volume%20Beta%20-%2002%20-%20Alpha.mp3"controls></audio>
<br><br>



<% @cart_items.each do |q| %>
    <%= q.difficulty %>
    <br>
    <%= q.content %>
    <br>
    <br>
<% end %>

<%= link_to 'CREATE A QUESTION!!!!', new_question_path %>

<%= button_to "CREATE A NEW QUESTION :D", new_question_path, method: "get" %>


<% @questions.map do |question| %>
  <ol>
    <h3>Topic: <%== question.category.name %></h3>
    <h3 style="color:green">Level: <%= question.difficulty %> </h3>
    <h4>Question: </h4>
    <li><b><u><%== question.content %></b></u></li>
    <ul>
      <li>Wrong Answer: <%== question.inc1 %></li>
      <li>Wrong Answer: <%== question.inc2 %></li>
      <li>Wrong Answer: <%== question.inc3 %></li>
      <li>Correct Answer : <%== question.correct %></li>
    </ul>
    <%=
        button_to "Add Question To Cart",
        add_to_cart_path,
        method: :patch,
        params: { question_id: question.id, name: question.content }
      %>
  </ol>

  <br>
  <br>
  
<% end %>
