<h1> Create a new question! </h1>

<%= form_for @question  do |q| %>
  <%= q.label :content %><br>
  <%= q.text_area :content %>
  <br><br>
  
  <%= q.label :difficulty %><br>
  <%= q.text_field :difficulty %>
  <br><br>

  <%= q.label :correct %><br>
  <%= q.text_field :correct %>
  <br><br>
  
  <%= q.label :incorrect_answer_1 %><br>
  <%= q.text_field :inc1 %>
  <br><br>
  
  <%= q.label :incorrect_answer_2 %><br>
  <%= q.text_field :inc2 %>
  <br><br>
  
  <%= q.label :incorrect_answer_3 %><br>
  <%= q.text_field :inc3 %>
  <br><br>


  <%= q.collection_select :category_id, Category.all, :id, :name %>
  
  
  <br><br>
  <%= q.submit %>

<% end %>