<h1>WELCOME BACK! Please, log in.</h1>
<h2><%= @user.name %></h2>

 
<%= image_tag "https://media.istockphoto.com/photos/login-word-picture-id177839258", alt: "Please log-in" %>


<%= form_with(scope: :session, url: login_path, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "log in" %> Or <%= link_to(controller: 'welcome', action: 'home') { 'back' } %>
<% end %>