<h1> TIME 2 PLAY </h1>


THIS IS ACCEPTING OPTIONS !!!

<% counter = 20 %>
<ol>
<% @theme.categories.each do |c| %>
    <h2><%= c.name %></h2>
    <% c.questions.sample(10).each do |q| %>
        <li><%= q.content %></li>
    <% end %>
<% end %>
</ol>

<br><br><br><br><br><br>

<% counter = 0 %>
<ol>
    <form action="/end", method="post">
            <% until counter == 30 %>
                <% @theme.categories.each do |c| %>
                    <% x = c.questions.sample %>
                    <b><%= c.name %> --- <%= x.difficulty %>Pts.<b>
                    <li><%= x.content %></li>
                    <br>


                    <input type="text" name="answer[]" >
                    <br><br>


                    <% counter += 1 %>
                <% end %>
            <% end %>
        <input type="submit">
    </form>
</ol>
