<h1> Create a new Theme Set! </h1>

<%= form_for [@user, @theme] do |t| %>
  <%= t.label :title %><br>
  <%= t.text_area :title %>
  <br><br>

  <%= t.collection_check_boxes :category_ids, Category.all, :id, :name %>

  
  <br><br>
  <%= t.submit %>

<% end %>