<audio src="https://vgmdownloads.com/soundtracks/lord-of-the-rings-the-fellowship-of-the-ring-howard-shore/ihkpkoki/05%20The%20Black%20Rider.mp3"controls></audio>

<h1> <%= @user.name %>'s Show Page </h1>
<br>
<br>

<img src="<%= @user.picture %>", alt: "Well Hello There", height = 320 > <br>


<%= @user.bio %>



<h3><%= link_to "CATEGORIES", categories_path %></h3>

<br>

<h3><%= link_to "QUESTIONS", questions_path %></h3>