<h1> <%= @user.name %>'s Show Page </h1>
<<<<<<< HEAD

<%= image_tag @user.picture, alt: "Justin's Fabulous Picture" %>
<%= @user.bio %>
=======
<br>
<br>

<%= image_tag "https://www.pojo.com/wp-content/uploads/2018/05/hello-there.jpg", alt: "Well Hello There" %>


<h3><%= link_to "CATEGORIES", categories_path %></h3>

<br>

<h3><%= link_to "QUESTIONS", questions_path %></h3>

<%= @user.bio %>


<br>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
>>>>>>> Justin
