<!DOCTYPE html>
<html>
  <head>
    <title>OUR BLOG POGCHAMP</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

  <% if logged_in %>
    <div class="navigation">
      <ul>
        <a href="/">Home</a>
        &emsp;
        <a href="/users/<%= @user.id %> ">My Profile</a>
        &emsp;
        <a href="/options">Play</a>
        &emsp;
        <a href="/users/<%= @user.id %>/themes/new">Create a Theme</a>
        &emsp;
        <a href="/questions">Browse Questions</a>
        &emsp;
        <a href="/categories">Browse Categories</a>
        &emsp;
        <a href="/cart">Cart</a>
        &emsp;
        <a href="/users/<%= @user.id %>/edit">Dashboard</a>
      </ul>
    </div>

  <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
    <% end %>
  <% end %>
  
  <br>
  <h2 style="color:red"><%= flash[:alert] %></h2>
  <br>


    <%= yield %>



  </body>
</html>
